/**=====================
5.1 Footer CSS Start
==========================**/
@import url("https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #ECECED;
  padding: 20px 2px 20px 13px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  .link:hover {
    border-bottom: 2px solid orange !important;
    transition: all 0.2s ease;
    color: orange !important;
  }
}
.img-size {
  width: 170px;
  padding-top: 5px;
}
.padding {
  margin: 0px;
  padding: 0px;
}
.container-width {
  max-width: 240px;
  padding: 5px 15px;
}

.p-t {
  padding-top: 15px;
}
.pt-img-text {
  padding-top: 25px;
}
.font-bold {
  font-weight: 700;
}
.flex-imprint {
  display: flex;
  margin-top: 8px;
  gap: 3px;
  align-items: center;
}

.b-p {
  padding-top: 8px;
}
.b-bottom {
  border-bottom: 2px solid #DBDBDB;
}
.icon-flex {
  display: flex;
  align-items: center;
  gap: 5px;
  padding-bottom: 5px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}
.contact-style {
  margin-top: 12px;
}


@media screen and (min-width: 750px) and (max-width: 860px) {
  footer {
    flex-wrap: wrap;
    gap: 10px;
    font-weight: 500;
    font-size: 30px;
  }
  .container-width {
    padding: 5px 2px;
  }
  .icon-flex {
    font-weight: 500;
    font-size: 30px;
  }

  .contact-style {
    margin-top: 10px;
  }
}
@media screen and (min-width: 713px) and (max-width: 915px) {
  .contact-us {
    max-width: 80%;
  }
}
/**=====================
    5.1 Footer CSS Ends
==========================**/

/* Media Query for Mobile Devices */
@media screen and (max-width: 576px) {
  footer {
    flex-direction: column;
    gap: 15px;
  }
  .img-size {
    width: 150px;
  }
  .contact-style {
    margin-top: 15px;
  }
}